*,
*::before,
*::after {
  box-sizing: border-box;
  webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

@-ms-viewport {
  width: device-width; }
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #2F2F2f;
  text-align: left;
  background-color: #fff; }

[tabindex="-1"]:focus {
  outline: 0 !important; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

dfn {
  font-style: italic; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:hover {
    color: #7D358B;
    text-decoration: none; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }
  a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none; }
  a:not([href]):not([tabindex]):focus {
    outline: 0; }

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle;
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

a,
area,
button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
  touch-action: manipulation; }

table {
  border-collapse: collapse; }

th {
  text-align: inherit; }

label {
  display: inline-block;
  margin-bottom: .5rem; }

button {
  border-radius: 0; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none !important; }

body > div section .feedback, body > div section .add-task, body > div section .task {
  display: inline-block;
  background: #fff;
  min-height: 300px;
  box-shadow: 1px 2px 14px 0px rgba(0, 0, 0, 0.15);
  padding: 25px; }

body {
  background: #fff;
  font-family: 'Montserrat', sans-serif; }

header {
  width: 100vw;
  height: 115px;
  display: flex;
  padding: 20px 30px; }
  header img:first-child {
    margin-right: auto;
    width: 150px;
    height: 75px;
    object-fit: contain; }
  header input {
    border: 1px solid #000;
    border-radius: 35px;
    margin-right: 20px;
    text-align: right;
    padding: 5px 15px;
    width: 250px; }
  header .fa-circle {
    color: #7D358B; }

body > div {
  width: 100vw;
  height: calc(100vh - 115px - 50px);
  display: flex;
  padding: 0 30px; }
  body > div nav {
    color: #7D358B;
    width: 225px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 1px;
    padding-top: 50px;
    padding-right: 105px; }
    body > div nav p {
      margin-bottom: 30px; }
      body > div nav p.active {
        color: #7D358B;
        font-weight: bold;
        border-bottom: 5px solid #E1C27B; }
  body > div section {
    width: calc(100vw - 225px); }
    body > div section > div:first-child {
      padding-top: 15px;
      padding-bottom: 15px; }
      body > div section > div:first-child span {
        text-transform: uppercase;
        color: #D2D2D2;
        font-size: 0.8em;
        margin-right: 30px;
        cursor: pointer; }
        body > div section > div:first-child span.active {
          color: #E1C27B;
          font-weight: bold; }
    body > div section > div:nth-child(2) {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start; }
    body > div section .feedback {
      width: 90%;
      overflow-x: scroll;
      transition: all 250ms ease-in-out; }
      body > div section .feedback.open {
        width: 55%; }
      body > div section .feedback table {
        min-width: 800px; }
      body > div section .feedback th {
        color: #2F2F2f;
        width: 100px;
        font-weight: normal;
        text-align: center;
        text-transform: uppercase; }
        body > div section .feedback th:nth-child(1) {
          width: 400px;
          color: #D2D2D2;
          font-weight: bold;
          text-transform: none;
          text-align: left; }
        body > div section .feedback th:nth-child(2) {
          width: 150px; }
      body > div section .feedback td {
        text-align: center;
        padding: 10px 0; }
        body > div section .feedback td:nth-child(1) {
          text-align: left;
          border-bottom: 1px solid #2F2F2f;
          cursor: pointer; }
    body > div section .add-task {
      width: 30%;
      margin-left: 5%; }
      body > div section .add-task > span:first-child {
        color: #D2D2D2;
        text-transform: uppercase; }
      body > div section .add-task > p:nth-of-type(1) {
        color: #444;
        font-size: 1.2em; }
      body > div section .add-task > p:nth-of-type(2) {
        color: #444;
        font-size: 0.8em; }
        body > div section .add-task > p:nth-of-type(2) span {
          color: #000;
          font-size: 1em; }
      body > div section .add-task > p {
        display: flex;
        cursor: pointer; }
        body > div section .add-task > p span {
          margin-right: auto; }
        body > div section .add-task > p .fa-caret-down, body > div section .add-task > p .fa-circle {
          position: relative;
          top: 3px; }
        body > div section .add-task > p .fa-caret-down {
          color: #CE4257;
          margin-left: 4px; }
      body > div section .add-task textarea {
        resize: none;
        border: 1px solid #D2D2D2;
        width: 100%; }
      body > div section .add-task > button {
        color: #fff;
        background: #CE4257;
        font-weight: bold;
        text-transform: uppercase;
        border: 1px solid #CE4257;
        border-radius: 35px;
        letter-spacing: 2px;
        padding: 5px 15px;
        width: 160px;
        margin: 15px auto;
        display: block;
        cursor: pointer; }
    body > div section .task {
      width: 90%; }
      body > div section .task th {
        color: #2F2F2f;
        width: 200px;
        font-weight: normal;
        text-align: center;
        text-transform: uppercase; }
        body > div section .task th:nth-child(1) {
          width: 400px;
          color: #D2D2D2;
          font-weight: bold;
          text-transform: none;
          text-align: left; }
        body > div section .task th:nth-child(3) {
          width: 100px; }
      body > div section .task td {
        text-align: center;
        padding: 10px 0; }
        body > div section .task td:nth-child(1) {
          text-align: left;
          border-bottom: 1px solid #2F2F2f; }
        body > div section .task td:nth-of-type(3) span {
          border: 3px solid #CE4257;
          display: block;
          text-transform: uppercase;
          color: #CE4257;
          width: 100%; }
      body > div section .task tr:last-child td:nth-child(1) {
        border-bottom: none;
        color: #D2D2D2;
        cursor: pointer; }

footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #2F2F2f; }

/*# sourceMappingURL=master.css.map */
