@import 'variables';
@import 'reboot';

%card {
  display: inline-block;
  background: $white;
  min-height: 300px;
  box-shadow: 1px 2px 14px 0px rgba(0,0,0,0.15);
  padding: 25px;
}

body {
  background: $white;
  font-family: 'Montserrat', sans-serif;
}

header {
  width: 100vw;
  height: 115px;
  display: flex;
  padding: 20px 30px;

  img:first-child {
    margin-right: auto;
    width: 150px;
    height: 75px;
    object-fit: contain;
  }

  input {
    border: 1px solid #000;
    border-radius: 35px;
    margin-right: 20px;
    text-align: right;
    padding: 5px 15px;
    width: 250px;
  }

  .fa-circle {
    color: $purple;
  }
}

body > div {
  width: 100vw;
  height: calc(100vh - 115px - 50px);
  display: flex;
  padding: 0 30px;

  nav {
    color: $purple;
    width: 225px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 1px;
    padding-top: 50px;
    padding-right: 105px;

    p {
      margin-bottom: 30px;

      &.active {
        color: #7D358B;
        font-weight: bold;
        border-bottom: 5px solid $yellow;
      }
    }
  }

  section {
    width: calc(100vw - 225px);

    & > div:first-child {
      padding-top: 15px;
      padding-bottom: 15px;


      span {
        text-transform: uppercase;
        color: $light-grey;
        font-size: 0.8em;
        margin-right: 30px;
        cursor: pointer;

        &.active {
          color: #E1C27B;
          font-weight: bold;
        }
      }
    }

    & > div:nth-child(2) {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
    }

    .feedback {
      @extend %card;
      width: 90%;
      overflow-x: scroll;
      transition: all 250ms ease-in-out;

      &.open {
        width: 55%;
      }

      table {
        min-width: 800px;
      }

      th {
        color: $blackish;
        width: 100px;
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;

        &:nth-child(1) {
          width: 400px;
          color: $light-grey;
          font-weight: bold;
          text-transform: none;
          text-align: left;
        }

        &:nth-child(2) {
          width: 150px;
        }
      }

      td {
        text-align: center;
        padding: 10px 0;

        &:nth-child(1) {
          text-align: left;
          border-bottom: 1px solid $blackish;
          cursor: pointer;
        }
      }
    }

    .add-task {
      @extend %card;

      width: 30%;
      margin-left: 5%;

      & > span:first-child {
        color: $light-grey;
        text-transform: uppercase;
      }

      & > p:nth-of-type(1) {
        color: $grey;
        font-size: 1.2em;
      }

      & > p:nth-of-type(2) {
        color: $grey;
        font-size: 0.8em;

        span {
          color: $black;
          font-size: 1em;
        }
      }

      & > p {
        display: flex;
        cursor: pointer;

        span {
          margin-right: auto;
        }

        .fa-caret-down, .fa-circle {
          position: relative;
          top: 3px;
        }

        .fa-caret-down {
          color: $red;
          margin-left: 4px;
        }
      }

      textarea {
        resize: none;
        border: 1px solid $light-grey;
        width: 100%;
      }

      & > button {
        color: $white;
        background: $red;
        font-weight: bold;
        text-transform: uppercase;
        border: 1px solid $red;
        border-radius: 35px;
        letter-spacing: 2px;
        padding: 5px 15px;
        width: 160px;
        margin: 15px auto;
        display: block;
        cursor: pointer;
      }
    }

    .task {
      @extend %card;
      width: 90%;

      th {
        color: $blackish;
        width: 200px;
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;

        &:nth-child(1) {
          width: 400px;
          color: $light-grey;
          font-weight: bold;
          text-transform: none;
          text-align: left;
        }

        &:nth-child(3) {
          width: 100px;
        }
      }

      td {
        text-align: center;
        padding: 10px 0;

        &:nth-child(1) {
          text-align: left;
          border-bottom: 1px solid $blackish;
        }

        &:nth-of-type(3) {
          span {
            border: 3px solid $red;
            display: block;
            text-transform: uppercase;
            color: $red;
            width: 100%;
          }
        }
      }

      tr:last-child {
        td:nth-child(1) {
          border-bottom: none;
          color: $light-grey;
          cursor: pointer;
        }
      }
    }
  }
}

footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  background: $blackish;
}
