section {
  height: 100vh;
  width: 100vw;
}

#feedbacking-box {
  background: #fff;
  border: 1px solid #C8C8C8;
  border-radius: 4px;
  width: 400px;
  height: 200px;
}

#feedbacking-box > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}

#feedbacking-box > div:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 360px;
  margin: 0 auto;
  height: 20%;
  padding: 0 0 10px 0;
}

#feedbacking-box textarea {
  width: 360px;
  height: 115px;
  border: 1px solid #C8C8C8;
  border-radius: 4px;
}

#feedbacking-box button {
  height: 100%;
  color: #757575;
  cursor: pointer;
  background: none;
  border: none;
}

#feedbacking-box > div > button:last-child {
  background: #CE4257;
  color: #fff;
}
